.formContainer {
  background: #ffffff;
  border-radius: 30px;
  padding: 36px 48px; 
  width: 648px;
  height: 704px;
  box-shadow: 0 10px 25px #b7b9c1;
}

.breadCrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 48px;

  .stepWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #A0A3BD; 

    .circle {
      width: 33px;
      height: 33px;
      border-radius: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      transition: all 0.3s ease;
      background-color: #D9DBE9; 
    }

    .stepLabel {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &.active {
      color: #022959; 
      .circle {
        background-color: #4A3AFF; 
        border: none;
        color: #ffffff;
      }
    }
  }

  .separator {
    display: flex;
    align-items: center;
    svg {
      width: 40px; 
    }
  }
}

.formHeader {
    padding-bottom: 35px;
    padding-top: 56px;
    h1 {
        color: #022959;
        font-size: 32px;
        margin-bottom: 8px;
    }
    p {
        color: #9699aa;
    }
}

.formFooter {
  display: flex;
  justify-content: space-between; 
  margin-top: 40px;
}

.stepContent {
  flex: 1; 
  margin-top: 24px;
}


