.formContainer {
  background: #ffffff;
  border-radius: 30px;
  padding: 36px 48px; 
  width: 648px;
  height: 704px;
  box-shadow: 0 10px 25px #b7b9c1;
}

.divider {
  height: 1px;           
  background: #e2e3e7;   
}

.breadCrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding-top: 10px;
  padding-bottom: 24px;

  .stepWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #514F6E; 

    .circle {
      width: 31px;
      height: 31px;
      border-radius: 27%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      transition: all 0.3s ease;
      background-color: #D9DBE9; 
    }

    .stepLabel {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: #A0A3BD; 
    }

    &.active {
      .circle {
        background: linear-gradient(135deg, #8C82FF 20%, #4A3AFF 80%);
        border: none;
        color: #ffffff;
      }
      .stepLabel {
      color: #022959; 
      }
    }
  }

  .separator {
    display: flex;
    align-items: center;
    svg {
      width: 40px; 
    }
  }
}

.formHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 48px;
    padding-top: 56px;
    font-weight: 600;
    h1 {
        color: #170F49;
        font-size: 32px;
    }
    p {
        color: #6F6C8F;
        font-weight: 400;
    }
}

.formFooter {
  display: flex;
  justify-content: space-between; 
  margin-top: 40px;
}

.stepContent {
  flex: 1; 
  margin-top: 24px;
}

.backButton {
  height: 48px;
  width: 160px;
  border-radius: 12px;
  background-color: #FFFFFF;
  border-color: #FBFBFE;
  border: 1px solid #E0E0E0;
  cursor: pointer;
  font-weight: 600;
}

.continueButton {
  height: 48px;
  width: 160px;
  border-radius: 12px;
  background: linear-gradient(135deg, #8C82FF 20%, #4A3AFF 80%);
  border: none;
  color: #FFFFFF;
  border: 1px solid #E0E0E0;
  cursor: pointer;
  font-weight: 600;
}
