.formGroup {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
}

.formHolder {
    display: flex;
    flex-direction: column;
    gap: 7px;

    input {
        padding: 12px;
        border: 2px solid #D6D8E7; 
        border-radius: 8px;
        outline: none;
        transition: border-color 0.3s ease;

        &::placeholder {
            color: #A0A3BD;
            font-size: 14px;
        }

        &:focus {
            border-color: #4A3AFF; 
        }

        &:invalid:not(:placeholder-shown) {
            border-color: #FF5B5B;
        }
    }
}

.formName {
    color: #A0A3BD;
}