.formContainer {
  background: #ffffff;
  border-radius: 30px;
  padding: 36px 48px;
  width: 648px;
  height: 780px;
  box-shadow: 0 10px 25px #b7b9c1;
  -webkit-tap-highlight-color: transparent;
}

.divider {
  height: 1px;
  background: #e2e3e7;
}

.breadCrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding-top: 10px;
  padding-bottom: 24px;
  cursor: pointer; 
  border: none;      
  outline: none;      
  background: none;  
  -webkit-tap-highlight-color: transparent;

  .stepWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #514f6e;

    .circle {
      width: 31px;
      height: 31px;
      border-radius: 27%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      transition: all 0.3s ease;
      background-color: #d9dbe9;
    }

    .stepLabel {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: #a0a3bd;
    }

    &.active {
      .circle {
        background: linear-gradient(135deg, #8c82ff 20%, #4a3aff 80%);
        border: none;
        color: #ffffff;
      }
      .stepLabel {
        color: #4a3aff;
      }
    }

    &.completed {
      .circle {
        background: linear-gradient(135deg, #6F6C8F 20%, #2e2d3f 80%);
        color: white;
      }
      .stepLabel {
        color: #170F49;
      }
    }
  }

  .separator {
    display: flex;
    align-items: center;
    svg {
      width: 40px;
    }
  }
}

.formHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 56px;
  font-weight: 600;
  h1 {
    color: #170f49;
    font-size: 32px;
  }
  p {
    color: #6f6c8f;
    font-weight: 400;
  }
}

.formFooter {
  display: flex;
  justify-content: space-between;
  // margin-top: 40px;
}

.stepContent {
  flex: 1;
  margin-top: 24px;
}

.backButton {
  height: 48px;
  width: 160px;
  border-radius: 12px;
  background-color: #ffffff;
  border-color: #fbfbfe;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  font-weight: 600;
  -webkit-tap-highlight-color: transparent;
}

.continueButton {
  height: 48px;
  width: 160px;
  border-radius: 12px;
  background: linear-gradient(135deg, #8c82ff 20%, #4a3aff 80%);
  border: none;
  color: #ffffff;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  font-weight: 600;
  -webkit-tap-highlight-color: transparent;
}
